
body {
  background-image: url('pattern.png');
  background-color: black;
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
  background-color: black;
  left: 0;
  top: 0;
  width: 100%;
  #intro {
    height: 100px;
    margin: 0 auto;
    .spacer_left {
      width: 33%;
      height: 55px;
      border-bottom-style: double;
      border-bottom-width: 2px;
      border-bottom-color: white;
      margin-left: 10px;
      margin-right: 10px;
      float: left;
    }
    h1 {
      color: #383838;
      float: left;
      font-size: 30px;
      font-family: 'Merriweather', serif;
      height: 50px;
      margin-bottom: 0px;
      text-transform: capitalize;
      text-align: center;
      width: 30%;
    } 
    h3 {
      color: white;
      font-size: 20px;
      font-family: 'Merriweather', serif;
      font-style: italic;
      height: 30px;
      margin: 0 auto;
      text-transform: lowercase;
      text-align: center;
      width: 30%;
    }
    .first {
      font-family: 'Merriweather', serif;
      font-size: 45px;
    }
    .spacer_right {
      width: 33%;
      height: 30px;
      border-bottom-style: double;
      border-bottom-width: 2px;
      border-bottom-color: white;
      margin-right: 10px;
      margin-left: 10px;
      float: right;
    } 
  }
}


a:link {color: #383838;}      /* unvisited link */
a:visited {color: #383838;}  /* visited link */
a:hover {color: white;}  /* mouse over link */
a:active {color: #383838;}  /* selected link */
a {text-decoration: none; } 



article {
  color: #383838;
  font-size: 30px;
  padding-top: 150px;
  height: 500px;
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  width: 800px;
  text-align: center;
  line-height: 150%;
  .first_words {
    color: white;
    font-size: 150px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Open Sans';
    width: 300px;
    text-transform: uppercase;
  }
}

.insult {
  padding-top: 70px;
  height: 50px;
  margin: 0 auto;
  width: 800px;
  h2 {
    color: #383838;
    font-size: 25px;
    font-family: 'Open Sans';
    width: 33%;
    text-transform: capitalize;
    margin: 0 auto;
    float: left;
    padding-top: 30px;
  }
  .insult_spacer_left {
    width: 30%;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }
  .insult_spacer_right {
    width: 30%;
    height: 50px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
  }
}

footer {
  height: 65px;
  background-color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  .footer_box {
    height: 40px;
    width: 600px;
    margin: 0 auto;
  }
  h3 {
    height: 50px;
    width: 250px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding-top: 20px;
    font-style: italic;
    color: #383838;
    text-transform: lowercase;
  } 
}




